page-product {
    .product-col{
        display: flex;
        justify-content: center;
    }

    [col-6], .grid, .col { padding: 0px; }

    .card-content-md { padding: 10px; }

    .card-title-md { margin: 0px; padding: 0; }
}
