<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
        <button ion-button (click)="goToCart()" >
            <ion-icon name="cart"> {{cartCount}} </ion-icon>
          </button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="filterText" (ionInput)="getItems()" ></ion-searchbar>
  <!-- <h4 text-center>{{ myClock }}</h4> -->
  <ion-list>
    <!-- <ion-item>
      <ion-label>Select a Category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="getItems()" >
        <ion-option value="" selected>Select</ion-option>
        <ion-option value="{{category.categoryName}}" *ngFor="let category of categories">{{category.categoryName}}</ion-option>
      </ion-select>
    </ion-item> -->
    
    <!-- <button ion-item *ngFor="let product of products" (click)="itemTapped($event,product)">
      {{product.productName}}
      <div item-right>
        {{product.unitPrice}}
      </div>
    </button> -->

    <ion-grid>

      <ion-row class="ion-align-items-center">
        <ion-col size="6" col-6 class="product-col" *ngFor="let product of products" (click)="itemTapped($event,product)">
          <ion-card>
              <ionic-image-cache *ngIf="product.productImg" [showPreview]="'false'" [src]="product.productImg"></ionic-image-cache>
              <!-- <img-loader *ngIf="product.productImg"  src="{{product.productImg}}"></img-loader> -->
              <ion-card-content>
                  <ion-card-title text-wrap style="font-size: 1.4rem;">{{product.productName}}</ion-card-title>
                  <div item-right>Rp. {{product.unitPrice | number }} </div>
              </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

  <ion-infinite-scroll *ngIf="!noMoreData" threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" distance="5%" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
